[submodule "tale-hugo"]
	path = tale-hugo
	url = https://github.com/EmielH/tale-hugo
[submodule "themes/themes/tale"]
	path = themes/themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
[submodule "themes/themes/hyde-hyde"]
	path = themes/themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "themes/themes/hamburg"]
	path = themes/themes/hamburg
	url = https://github.com/hauke96/hugo-theme-hamburg.git
[submodule "themes/themes/jane"]
	path = themes/themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
