[submodule "tale-hugo"]
	path = tale-hugo
	url = https://github.com/EmielH/tale-hugo
[submodule "themes/themes/tale"]
	path = themes/themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
